{% extends "base.html.twig" %}

{% block content %}

<div class="game">
    <h2>{{ header }}</h2>

    {{ include('game/result.html.twig') }}

    <div class="player">
        <h3>{{ bank.getName() }}</h3>
        <div class="cards">
        {% for card in bank.getHand() %}
        <p class="{{ card.getColorName() }}">{{ card.getAsString() }}</p>
        {% endfor %}
        </div>
        <div class="points">
        {% for card in bank.getHand() %}
        <p>{{ card.getNumberValue() }}</p>
        {% endfor %}
        </div>
        <p>Bankens värde: {{ bankSum }}</p>
    </div>

    <div class="player">
        <h3>{{ player.getName() }}</h3>
        <div class="cards">
        {% for card in player.getHand() %}
        <p class="{{ card.getColorName() }}">{{ card.getAsString() }}</p>
        {% endfor %}
        </div>
        <div class="points">
        {% for card in player.getHand() %}
        <p>{{ card.getNumberValue() }}</p>
        {% endfor %}
        </div>
        <p>Ditt värde: {{ playerSum }}</p>
    </div>


    {% if standing == false %}
    <form action="{{ path('game-play-process') }}" method="post">
        <input type="submit" name="stand" value="Stanna">
        <input type="submit" name="draw" value="Dra kort">
    </form>
    {% endif %}
    <p>Kort kvar i leken - {{ count }}</p>
</div>

{% endblock %}