{% extends 'base.html.twig' %}

{% block content %}
<div class="product-home">
    <h2>{{ header }}</h2>
    <p>
        <a href="{{ path('product-create') }}">Create product</a>
    </p>
    <p>
        <a href="{{ path('product-show-all') }}">Show products</a>
    </p>
    <p>
        <a href="{{ path('product-show-id', {id: 1}) }}">Show product with id 1</a>
    </p>
    <p>
        <a href="{{ path('product-delete', {id: 3}) }}">Delete product with id 3</a>
    </p>
    <p>
        <a href="{{ path('product-update', {id: 1, value: 150}) }}">Update product 1</a>
    </p>
</div>
{% endblock %}
