{# templates/base.html.twig #}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{{ title }} | MVC{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" type="text/css" href="{{ asset("css/style.css") }}"/>
        {% endblock %}
    </head>
    <body>
        {% block body %}
            <div class="header">
                {% block header %}
                    <h1>MVC Kurs - Mikael Menonen</h1>
                {% endblock %}
            </div>

            <div class="nav">
                {% block nav %}
                    <ul>
                        <li><a href="{{ path('index') }}">Startsida</a></li>
                        <li><a href="{{ path('about') }}">Om kursen</a></li>
                        <li><a href="{{ path('report') }}">Redovisning</a></li>
                        <li><a href="{{ path('card') }}">Kortspel</a></li>
                        <li><a href="{{ path('dice') }}">Tärningsspel</a></li>
                    </ul>
                {% endblock %}
            </div>

            <div class="content">
                {% block content %}{% endblock %}
            </div>

            <div class="footer">
                {% block footer %}
                    <h3>Mikael Menonen © 2022</h3>
                {% endblock %}
            </div>
        {% endblock %}
    </body>
</html>