{% extends 'base.html.twig' %}

{% block content %}
<div class="library-home">
    <h2>{{ header }}</h2>
    <p>
        <a href="{{ path('library-show-all') }}">Alla böcker</a>
    </p>
    <p>
        <a href="{{ path('library-show-id', {id:1}) }}">Visa bok med ID 1</a>
    </p>
    <p>
        <a href="{{ path('library-create') }}">Lägg till book</a>
    </p>
    <p>
        <a href="{{ path('library-update', {id:1}) }}">Uppdatera bok med ID 1</a>
    </p>
    <p>
        <a href="{{ path('library-delete', {id:1}) }}">Ta bort bok med ID 1</a>
    </p>
</div>
{% endblock %}
