{% extends "base.html.twig" %}

{% block content %}
<div class="poker">
    <p>Kort kvar i leken - {{ count }}</p>
    <div class="computer holder">
        <h3>{{ computer.getName() }}</h3>
        <div class="cards">
        {% for card in computer.getHand() %}
            {% if showCards %}
            <p class="{{ card.getColorName() }} card">{{ card.getAsString() }}</p>
            {% else %}
            <p class="card">? | ?</p>
            {% endif %}
        {% endfor %}
        </div>
        <p>Money: {{ cMoney }} | Bet: {{ computer.getBet() }}</p>
    </div>

    <div class="table">
        <div class="cards">
        {% for card in table.getHand() %}
            <p class="{{ card.getColorName() }} card">{{ card.getAsString() }}</p>
        {% endfor %}
        </div>
        <p>Pot: {{ pot }}</p>
    </div>

    <div class="player holder">
        <h3>{{ player.getName() }}</h3>
        <div class="cards">
        {% for card in player.getHand() %}
            <p class="{{ card.getColorName() }} card">{{ card.getAsString() }}</p>
        {% endfor %}
        </div>
        <p>Money: {{ pMoney }} | Bet: {{ player.getBet() }}</p>
    </div>

    <form action="{{ path('project-game-play-process') }}" method="post">
        <fieldset>
            <h3>POKER</h3>
            <input type="submit" name="call" value="CALL">
            <input type="submit" name="bet" value="BET">
            <input type="submit" name="all" value="ALL IN">
            <input type="submit" name="fold" value="FOLD">
            <div class="bet">
                <input type="radio" id="ten" name="betAmount" value="10" checked>
                <label for="ten">10</label>
                <input type="radio" id="thirty" name="betAmount" value="30">
                <label for="thirty">30</label>
                <input type="radio" id="fifty" name="betAmount" value="50">
                <label for="fifty">50</label>
                <input type="radio" id="seventy" name="betAmount" value="70">
                <label for="seventy">70</label>
                <input type="radio" id="hundo" name="betAmount" value="100">
                <label for="hundo">100</label>
            </div>
        </fieldset>
    </form>
</div>
{% endblock %}