{% extends 'project/base.html.twig' %}

{% block content %}
<div class="poker">
    <p>Kort kvar i leken - {{ count }}</p>

    {% if (message|length > 0 and roundDone == false and result == false) %}
    <div class="message">
        <h3>Latest</h3>
        <p>{{ message }}</p>
    </div>
    {% endif %}

    {{ include('project/result.html.twig') }}

    {% if roundDone %}
    <div class="round-result">
        <h2>{{ message }}</h2>
        <form action="{{ path('project-game-new-round') }}" method="post">
            <input type="submit" name="cont" value="Fortsätt">
        </form>
    </div>
    {% endif %}

    <div class="computer holder">
        <h3>{{ computer.getName() }}</h3>
        <div class="cards">
        {% for card in computer.getHand() %}
            {% if showCards %}
            <p class="{{ card.getColorName() }} card">{{ card.getAsString() }}</p>
            {% else %}
            <p class="card unknown">♚</p>
            {% endif %}
        {% endfor %}
        </div>
        <p>Money: {{ cMoney }} | Bet: {{ cBet }}</p>
    </div>

    <div class="table">
        <div class="cards">
        {% for card in table.getHand() %}
            <p class="{{ card.getColorName() }} card">{{ card.getAsString() }}</p>
        {% endfor %}
        </div>
        <p>Pot: {{ pot }}</p>
    </div>

    <div class="player holder">
        <h3>{{ player.getName() }}</h3>
        <div class="cards">
        {% for card in player.getHand() %}
            <p class="{{ card.getColorName() }} card">{{ card.getAsString() }}</p>
        {% endfor %}
        </div>
        <p>Money: {{ pMoney }} | Bet: {{ pBet }}</p>
    </div>

    {% if (result == false and roundDone == false) %}
    <form action="{{ path('project-game-play-process') }}" method="post">
        <fieldset>
            <h3>POKER</h3>
            <input type="submit" name="call" value="CALL">
            <input type="submit" name="bet" value="BET">
            <input type="submit" name="all" value="ALL IN">
            <input type="submit" name="fold" value="FOLD">
            <div class="bet">
                <input type="radio" id="ten" name="betAmount" value="10" checked>
                <label for="ten">10</label>
                <input type="radio" id="twenty" name="betAmount" value="20">
                <label for="twenty">20</label>
                <input type="radio" id="thirty" name="betAmount" value="30">
                <label for="thirty">30</label>
                <input type="radio" id="forty" name="betAmount" value="40">
                <label for="forty">40</label>
                <input type="radio" id="fifty" name="betAmount" value="50">
                <label for="fifty">50</label>
            </div>
        </fieldset>
    </form>
    {% endif %}
</div>
{% endblock %}