{# templates/user.html.twig #}

{% extends 'base.html.twig' %}

{% block content %}
    <div class="user-profile">
        <h2>{{ header }}</h2>
        <p>Namn: {{ user.getName() }}</p>
        <p>Akronym: {{ user.getAcronym() }}</p>
        <p>Email: {{ user.getEmail() }}</p>
        <p>Admin: {{ admin }}</p>
    </div>
{% endblock %}
