{# templates/user.html.twig #}

{% extends 'base.html.twig' %}

{% block content %}
    <div class="card-home">
    <h2>{{ header }}</h2>
    <p>
        <a href="{{ path('user-create') }}">Skapa användare</a>
    </p>
    <p>
        <a href="{{ path('user-show') }}">Visa användare</a>
    </p>

    {% if loggedIn %}
    <p>
        <a href="{{ path('user-profile') }}">Min profil</a>
    </p>
    <form action="{{ path('user-log-out') }}" method="post">
        <input type="submit" value="Logga ut">
    </form>
    {% else %}
    <form action="{{ path('user-log-in') }}">
        <input type="submit" value="Logga in">
    </form>
    {% endif %}
    </div>

{% endblock %}
